body {
    text-align: center
}

h1 {
    font-size: 60px;
    color: #041e91;
    letter-spacing: 0.2rem;
    margin: 10px 0
}

.card {
    background-color: #edf0f2;
    border-radius: 15px;
    width: 300px;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.grid {
    display: flex;
    flex-wrap: wrap
}

.type {
    margin: 5px 0 10px 0;
    font-size: 25px;
    color: #041e91
}

.name {
    font-size: 35px;
    font-weight: bold;
    color: #684ca8;
    margin: 10px 0 0 0
}

.img-container {
    border-radius: 100%;
    width: 230px;
    height: 230px;
    margin: 20px 0 0 0;
    background-color: white;
    text-align: center
}

.img {
    width: 200px;
    height: 200px;
}

.no-img {
    display: flex;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
    font-weight: bold;
    color: #e6cc07
}

.id {
    border-radius: 15px;
    background-color: #cccecf;
    width: 10px;
    height: 20px;
    padding: 5px 10px;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center
}