body {
  text-align: center;
  background: yellow;
  display: flex;
  justify-content: center;
  font-family: 'Mouse Memoirs', sans-serif;
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 60px;
  color: #041e91;
  letter-spacing: 0.2rem;
  margin: 10px 0;
}

.card {
  background-color: #edf0f2;
  border-radius: 15px;
  width: 300px;
  padding: 10px 0 20px 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.type {
  margin: 5px 0 2px 0;
  font-size: 25px;
  color: #041e91;
}

.name {
  font-size: 35px;
  font-weight: bold;
  color: #684ca8;
  margin: 10px 0 0 0;
}

.img-container {
  border-radius: 100%;
  width: 230px;
  height: 230px;
  margin: 20px 0 0 0;
  background-color: white;
  text-align: center;
}

.img {
  width: 200px;
  height: 200px;
}

.no-img {
  display: flex;
  font-size: 100px;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  font-weight: bold;
  color: #e6cc07;
}

.id {
  border-radius: 15px;
  background-color: #cccecf;
  width: 10px;
  height: 20px;
  padding: 5px 10px;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos {
  /*display: flex;*/
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.info {
  margin: 5px 0 2px 0;
  font-size: 25px;
  color: #041e91;
}

.list-container {
  display: flex;
  align-items: baseline;
}

.list-title {
  list-style-type: none;
  font-size: 25px;
  color: #041e91;
  margin: 0;
}

.ul-container {
  text-align: left;
  margin: 0;
}

.ul-items {
  padding: 0 5px;
  margin: 0;
}

.li-item {
  color: #687ede;
  text-align: left;
}

.exit-button {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  color: #041e91;
  cursor: pointer;
  font-weight: bold;
}

.faded-bg {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
}

.show-card {
  position: fixed;
  top: 20%;
  left: 30%;
  background-color: #edf0f2;
  border-radius: 15px;
  box-shadow: 0 0 1em gray;
  width: 500px;
  height: 350px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-select {
  width: 250px;
  height: 50px;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 20px;
  padding-left: 10px;
  margin: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 0 5rem 0 5rem;
}

.search-box {
  display: flex;
  justify-content: center;
  justify-items: end;
}
